<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%#Styles.css #%>
        <link rel="stylesheet" href="/public/styles.css">

        <%# Google Fonts #%>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <%# Take 2 involving input of a number and click of a button #%>
        <h1>Dam Information</h1>
        <form action='/results' method="GET">
            <input name ='id' type="submit" class='form-control'autofocus></button>
        </form>

        <script src="" async defer></script>
    </body>
</html>